.MainContainer {
  background-color: blue;
  height: 600px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  /* Razmak između elemenata */
}

.grid-item {
  flex: 5 5 calc(100% / 16 - 2px);
  /* Podesite širinu elemenata prema broju kolona */
  box-sizing: border-box;
  /* Uključuje border i padding u ukupnu veličinu */
  /* Za bolji vizuelni kontrast */
}